# Load Datasets

In [15]:
from sktime.datasets import load_tsf_to_dataframe
import pandas as pd
def load_dataset(file_path):
    """
    Load dataset based on file extension.
    .tsf files use sktime loader, others use pandas.
    """
    if file_path.endswith('.tsf'):
        return load_tsf_to_dataframe(file_path)
    else:
        return pd.read_csv(file_path)

In [16]:
dataset_path = './data/'
dataset_names = ['australian_electricity_demand_dataset.tsf','saugeenday_dataset.tsf', 'wti_oil_dataset.csv', 'train_egg_sales.csv', 'test_egg_sales.csv']

## Australien Electricity Dateset

In [17]:
australian_electricity_demand_dataset = load_dataset(dataset_path + dataset_names[0])
australian_electricity_demand_df = australian_electricity_demand_dataset[0]['series_value'].reset_index()
australian_electricity_demand_df = australian_electricity_demand_df[australian_electricity_demand_df['state'] == 'VIC']
australian_electricity_demand_df = australian_electricity_demand_df.rename(columns={'series_value': 'y', 'timestamp': 'ds'})
australian_electricity_demand_df = australian_electricity_demand_df[['ds', 'y']]
australian_electricity_demand_df

                        ds            y
230736 2002-01-01 00:00:00  3535.867064
230737 2002-01-01 00:30:00  3383.499028
230738 2002-01-01 01:00:00  3655.527552
230739 2002-01-01 01:30:00  3510.446636
230740 2002-01-01 02:00:00  3294.697156
...                    ...          ...
461467 2015-02-28 21:30:00  4094.957360
461468 2015-02-28 22:00:00  4058.531582
461469 2015-02-28 22:30:00  4051.524334
461470 2015-02-28 23:00:00  4274.237836
461471 2015-02-28 23:30:00  4245.130916

[230736 rows x 2 columns]

## Saugeenday Dataset

In [ ]:
saugeenday_dataset = load_dataset(dataset_path + dataset_names[1])
saugeenday_dataset = saugeenday_dataset[0]['series_value'].reset_index()
saugeenday_dataset = saugeenday_dataset.rename(columns={'series_value': 'y', 'timestamp': 'ds'})
saugeenday_df = saugeenday_dataset[['ds', 'y']]

          ds     y
0 1915-01-01  11.5
1 1915-01-02  10.8
2 1915-01-03  13.7
3 1915-01-04  13.7
4 1915-01-05  14.4

## Wti Oil Dataset

In [24]:
wti_oil_dataset = load_dataset(dataset_path + dataset_names[2])
wti_oil_dataset = wti_oil_dataset.rename(columns={'date': 'ds', 'wti': 'y'})
wti_oil_df = wti_oil_dataset[['ds', 'y']]
wti_oil_df.head()

           ds          y
0  2006-01-01  65.485000
1  2006-02-01  61.631053
2  2006-03-01  62.685217
3  2006-04-01  69.443684
4  2006-05-01  70.844091