# Load Datasets

In [1]:
from sktime.datasets import load_tsf_to_dataframe
import pandas as pd
def load_dataset(file_path):
    """
    Load dataset based on file extension.
    .tsf files use sktime loader, others use pandas.
    """
    if file_path.endswith('.tsf'):
        return load_tsf_to_dataframe(file_path)
    else:
        return pd.read_csv(file_path)

In [8]:
dataset_path = './data/'
dataset_names = ['australian_electricity_demand_dataset.tsf','saugeenday_dataset.tsf', 'wti_oil_dataset.csv', 'train_egg_sales.csv', 'test_egg_sales.csv']

australian_electricity_demand_dataset = load_dataset(dataset_path + dataset_names[0])
australian_electricity_demand_df = australian_electricity_demand_dataset[0]['series_value'].reset_index()
australian_electricity_demand_df.head()

  series_name state           timestamp  series_value
0          T1   NSW 2002-01-01 00:00:00   5714.045004
1          T1   NSW 2002-01-01 00:30:00   5360.189078
2          T1   NSW 2002-01-01 01:00:00   5014.835118
3          T1   NSW 2002-01-01 01:30:00   4602.755516
4          T1   NSW 2002-01-01 02:00:00   4285.179828

In [14]:
australian_electricity_demand_df
australian_electricity_demand_df.describe()

                           timestamp  series_value
count                        1155264  1.155264e+06
mean   2008-08-03 19:21:08.854910464  3.500324e+03
min              2002-01-01 00:00:00 -2.339068e+02
25%              2005-04-18 09:30:00  1.065008e+03
50%              2008-08-03 19:00:00  3.836729e+03
75%              2011-11-20 04:30:00  5.215720e+03
max              2015-04-01 23:30:00  1.286580e+04
std                              NaN  2.437727e+03